@charset "utf-8";

/* reset element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  letter-spacing: -1px;
}

img {
  vertical-align: middle;
  border: none;
  /* max-width: 100%; 간혹 방해가 되는 경우가 있음*/
}

table {
  border-collapse: collapse;
  /* border-spacing: 0;
  border: 0 none; */
  table-layout: fixed;
  width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

address,
em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 건너뛰기 링크(접근성) */
.skipnav a {
  overflow: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background: #000;
  color: #fff;
  text-align: center;
  z-index: 99999;
}

.skipnav a:focus,
.skipnav a:active {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
}

/* 비장애인들한테는 보일 필요가 없는 컨텐츠이지만, 장애인들한테는 인식돼야 할 컨텐츠에 붙이는 클래스 */
.blind {
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* 테이블의 제목과 폼의 그룹화 요소는 안보이게 처리함 */
caption,
legend {
  display: none
}

fieldset {
  border: none
}

/*높이가 약간 다르니까*/
input,
select {
  vertical-align:middle;
}

/*클릭이전과 이후 img로 변경하기*/
select {
  -webkit-appearance: none;
  appearance: none;
  background: url(../img/ico_selectArr.png) no-repeat 100% 50%;
}

input[type='radio'],
input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
}


input[type=submit],
input[type=reset],
button:hover {
  cursor: pointer;
}

/*보추*/
textarea {
  resize: none;
}

/* 자식들이 float 속성을 가질때 부모의 높이가 무너지므로 .cf로 해결함 */
.cf:after,
.cf:before {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Malgun Gothic', '맑은 고딕', 'snas serif';
  font-size: 16px;
  color:#444;
}

/*6-(2) loading 애니메이션 꾸미기*/
.loadingAni {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: #000;
  color:#fff;
  font-size: 80px;
  z-index:99999999;
}

.loadingAni i {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.row {
  max-width: 1050px;
  margin: 0 auto;
}

#wrap {
  position: relative;
}

#header {
  background: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  height: 116px;
  width: 100%;
  top:0;
  left: 0;
  z-index: 9999;
}

#header h1 {
  float: left;
  padding:45px 0 0;
}
#header h1 a {
  background: url(../img/logo.png) no-repeat;
  display: block;
  width: 270px;
  height: 71px;
  /* background-size: contain; w/h값 조정시에는 contain으로 비율유지 */
  text-indent: -9999px;
  overflow: hidden;
}

.openMOgnb, 
.closeMOgnb {
  display: none;
}

#header .header_cont {
  float: right;
  width: 780px;
}

.util {
  text-align: right;
}

.util >li{
  display: inline-block;
  font-size: 14px;
  color: #eee;
  padding: 10px 0px 0px 20px
}

.util >li:after {
  content: "|";
  display: inline-block;
  font-size: 10px;
  color: #eee;
  position: relative;
  top: -2px; left:10px
}

.util >li:last-child::after {
  display: none;
}

.depth1 {
  text-align: right;
  /*아래 left 정렬을 원하는 위치에 정렬*/
}

.depth1 >li {
  display: inline-block;
   /*inline-block사용하면 기본적으로 left정렬*/
  font-size: 18px;
  color:#fff;
  padding: 26px 40px 43px;
  /* border: 1px solid #f00; */
}

.depth1 >li:last-child {
  padding-right: 0;
}

.dep2box {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  background: rgba(250,100,0,0.85);
  z-index: 100;
  top:116px;
  text-align: left;
}

/*submenu jQ 이벤트로 변경하기 1.서브메뉴2개이상이벤트(1)주석처리*/
/* .depth1 >li:hover .dep2box {
  display: block;
} */

.depth2 >li {
  display: inline-block;
  padding: 20px;
}

.depth1 >li:nth-child(1) .depth2 {
  padding-left: 440px;
}
.depth1 >li:nth-child(2) .depth2 {
  padding-left: 565px;
}
.depth1 >li:nth-child(3) .depth2 {
  padding-left: 700px;
}
.depth1 >li:nth-child(4) .depth2 {
  padding-left: 930px;
}

.depth1 >li:last-child .depth2>li {
  padding-right: 0;
}



/*CONTAINER 시작*/
/*슬라이드 박스*/

.slide {
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  background-position: center;
  position: relative;
}

.slide1 {
  background-image: url(../img/mainslide01.jpg);
}

.slide2 {
  background-image: url(../img/mainslide02.jpg);
}

.slide3 {
  background-image: url(../img/mainslide03.jpg);
}

.slide .text {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center;
}

.slide .text p:nth-child(1) {
  font-size: 45px;
  letter-spacing: 0px;
  text-shadow: 2px 2px 5px #555;
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
}

.slide .text p:nth-child(2) {
  font-size: 20px;
  letter-spacing: 6px;
  margin-top: 20px;
}

.slide .text p:nth-child(3) {
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  top:150px;
}

.slide2, .slide3 {
  display: none;
}

/*다시 찾는 인기여행지 top3 시작*/

.about_area h2 {
  font-size: 40px;
  padding:55px 0 105px;
  text-align: center;
}

.about_box {
  background: #f4f0e9;
  margin-bottom: 60px;
}

.place_list li {
  float: left;
  width: 32%;
  margin-left: 2%;
  position: relative;
  top:-50px;
  text-align: center;
}

.place_list >li:first-child {
  margin-left: 0
}
/*:nth-child(), :last-child는 :first-child에 비해 호환성이 낮음*/

.place_list li .imgbox {
  height: 328px;
  overflow: hidden;
  position: relative;
}

.place_list li .imgbox img {
  transition: all 0.4s;
}

.place_list li .imgbox:hover img {
  transform: scale(1.1);
}

.place_list li .imgbox:after {
  content: ""; 
  position: absolute;
  top:0%; left:0%; bottom:0%; right:0%;
  background: rgba(0,0,0,0);
  transition: all 0.4s;
}

.place_list li .imgbox:hover:after {
  background: rgba(0,0,0,0.3);
}

.place_list li .imgbox:before {
  content: "\f00e"; 
  font-family: 'Font Awesome 5 Free';
  font-weight: 900 !important;
  font-size: 30px;
  color: #fff;
  position: absolute;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: all 0.4s 0.4s;
  z-index: 9999;
}

.place_list li .imgbox:hover:before {
  opacity: 1;
}

.place_list li h3 {
  font-size: 18px;
  padding: 25px 0 0;
  font-weight: bold;
  color: #000;
}

.place_list li .txt {
  padding: 10px 30px 0;
  line-height: 1.8;
  color: #666;
}

.place_list li .view {
  padding-top: 5px;
  border-top: 2px solid #333;
  color: #666;
  margin-top: 20px;
  display: inline-block;
}

/*7-(3) popupBox 시작*/

.popupBox {
  display: none;
}

.popupBox.on {
  display:block;
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right:0;
  background: rgba(138, 137, 137, 0.7);
  z-index:99999999999
}

.popupBox.on .inner {
  position: absolute;
  top:520px;
  left:50%;
  transform:translate(-50%);
  background: #fff;
  text-align: center;
  padding: 20px;
} 

.popupBox.on h3 {
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0px;
}

.popupBox.on p {
  font-size: 20px;
  padding: 20px 0px;
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
}

.popupBox.on button {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top:-30px;
  right: -30px;
  background: none;
  border: none;
}

/*사회적 거리는 늘이고 마음의 거리는 좁히고 시작*/

.bgbox {
  background: url(../img/mainslide03.jpg) no-repeat;
  height: 200px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.bgbox .txt {
  position: absolute;
  top:50%; left:50%;
  transform:translate(-50%,-50%);
  color: #fff;
  text-align: center;
}

.bgbox .txt p:first-child {
  font-size: 20px;
}

.bgbox .txt p:last-child {
  font-size: 30px;
  line-height: 1.2;
  margin-top: 10px;
}


/*상담 BOX 와 NOTICE BOX 시작*/

.appbbs_area {
  padding: 60px;
  margin-bottom: 70px;
}

.app_line {
  float: left;
  width: 66%;
  padding: 45px 0;
  text-align: center;
  background: url(../img/bg_app.jpg) no-repeat;
}

.app_line a {
  display: inline-block;
  width: 42.4%;
  text-align: left;
  height: 100px;
  line-height: 100px;
  padding-left: 75px; /*bg들어갈 자리*/
  background: rgba(0, 0, 0, 0.3) url(../img/ico_katalk.png) no-repeat 20px center;
  border: 2px solid #fff;
  color: #fff;
  font-size: 24px;
  margin-right: 1%
}

.app_line a+a {
  margin-right: 0%;
  background-image: url(../img/ico_phone.png);
  padding-left: 85px;
}

.bbs_line {
  float: right;
  width: 30%;
}

.bbs_line h3 {
  font-size: 26px;
  padding-bottom: 10px;
}

.notice_recent li {
  padding: 8px 0;
  /* list-style-type: disc; 기본값 but, content 바깥으로 생김 */
}

.notice_recent li a {
  display: block;
  padding-left: 14px;
  /*bg 넣을 자리*/
  background: url(../img/ico_bullet.png) no-repeat 0 50%;
  /* disc 대신 bg로 따로 넣기 */
  /* background-size: 5px auto; 
  bg로 넣으면 사이즈 조절도 편함 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*FOOTER 시작*/

footer {
  border-top: 1px solid #ddd;
}

.foot_list li {
  display: inline-block;
  margin-top: 25px;
  font-weight: bold; 
  font-size:15px;
}

.foot_list li:first-child:after {
  display: inline-block;
  content: "|";
  padding: 0 10px;
  font-size: 10px;
  color: #000;
  position: relative;
  top:-2px; left: 2px;
} 

.foot_area h2 {
  font-size: 14px;
  padding-top:25px;
  color: #666
}

.foot_area .addr {
  padding-top: 5px;
  line-height: 1.4;
  font-size: 13px;
  color: #666;
}

.foot_area .copy {
  padding-top: 3px;
  font-size: 13px;
  color: #666;
  letter-spacing: 0;
}

.foot_area {
  position: relative;
  padding-bottom: 40px;
}

.foot_area .snslink {
  position: absolute;
  top:0; right:0;
} 

.snslink li {
  display: inline-block;
  margin: 40px 30px;
}

.snslink li a {
  display: block;
  width:50px; height: 73px;
  /*w/h 값 그대로 사용*/
  background: url(../img/sprite.png) no-repeat;
  /* background-position: 0 0; 기본값*/
  text-indent: -9999px; 
  overflow: hidden;
}

.snslink li+li a {
  background-position: -50px 0;
  /* 위치 포토샵에서 X 값에 음수값(-)붙여서 사용 */
}

.snslink li+li+li a {
  background-position: -100px 0;
}



/*퀵 마크 시작*/
.quick_area {
  position: fixed;
  top:50%; right: 0;
  margin-top: -122.5px;
  width: 94px;
  z-index: 999999;
}

.quick_list li {
  text-align: center;
  background: #282828;
  font-size: 15px;
}

.quick_list li a {
  display: block;
  padding: 15px 0;
  border-top: 1px solid #4d4d4d;
}

.quick_list li a h3 {
  color: #ddd;
  font-size: inherit;
  padding-bottom: 10px;
  letter-spacing: -2px;
}

.quick_list li a p {
  font-size:  13px;
  line-height: 1.3;
  color: #fff;
}

.to_top {
  text-align: center;
  background: #fff;
}

.to_top a {
  font-size: 14px;
  display: block;
  height: 45px;
  line-height: 45px;
  padding-top: 8px;
  color: #444;
  border-left: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  position: relative;
}

/* .to_top a::before {
  content: "▲"; 
  display: block;
  font-size: 10px;
  color: #000;
  position: absolute;
  top:-10px; left: 50%;
  margin-left: -5px;
} */

.to_top a:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 8px solid #000;
  /*▲(top) ▼(bottom) ◀(left) ▶(right)   */
  border-top:none;
  border-left-color: transparent ;
  border-right-color: transparent ;
  position: absolute; 
  /* top:-5px; 높이조절가능 */
  left: 50% ;
  margin-left: -8px; 
  /*크기만큼 margin값줌*/
}