@charset "utf-8";

@media screen and (max-width:1050px) {
    
    #header h1 {
        float: left;
        padding:45px 0 0 20px;
        /*+) 좌측에 20px 추가*/
     }
      #header .header_cont {
        float: right;
        width: 60%;
        padding-right: 20px;
        /*(1) W: 60%로 변경, 우측 여백 +20px*/
      }
      
      .depth1 {
        text-align: right;
        /*아래 left 정렬을 원하는 위치에 정렬*/
      }
      
      .depth1 >li {
        display: inline-block;
         /*inline-block사용하면 기본적으로 left정렬*/
        font-size: 18px;
        color:#fff;
        padding: 26px 20px 43px;
        /*(2) nav li 좌우여백 40px->20px로 줄임*/
      }
      
      .depth1 >li:last-child {
        padding-right: 0;
      }
      
      .dep2box {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background: rgba(250,100,0,0.85);
        z-index: 100;
        top:116px;
        text-align: left;
      }
      
      .depth1 >li:hover .dep2box {
        display: block;
      }
      
      .depth2 >li {
        display: inline-block;
        padding: 20px;
      }
      
      .depth1 >li:nth-child(1) .depth2,
      .depth1 >li:nth-child(2) .depth2,
      .depth1 >li:nth-child(3) .depth2,
      .depth1 >li:nth-child(4) .depth2 {
          padding-left: 53%;
      }
      /*(3) submenu는 모두 동일한 위치=> %값*/
      
      .depth1 >li:last-child .depth2>li {
        padding-right: 0;
      }

      /*(5) slide text p 글자 크기 줄이기*/

      .slide .text p:nth-child(1) {
        font-size: 45px;
        letter-spacing: 5px;
        text-shadow: 2px 2px 5px #555;
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
      }
      
      .slide .text p:nth-child(2) {
        font-size: 20px;
        letter-spacing: 0px;
        margin-top: 20px;
      }
      
      .slide .text p:nth-child(3) {
        font-size: 20px;
        letter-spacing: 0px;
        position: relative;
        top:150px;
      }
      
      /*(4) 퀵메뉴박스 스타일*/

      /*(4)-1 margin 0*/
      .quick_area {
        position: fixed;
        top:50%; right: 20px;
        margin-top: 22.5px;
        /*(4)- 4 w값 동일하게 45px로 변경, right위치 20px만큼 안으로, 중간에 오게 margin-top:22.5px*/
        width: 45px;
        z-index: 999999;
      }

      /*(4)-2 퀵리스트는 display :none하고 관련태그는 지우기*/
      .quick_list {
        display: none;
      }
      
      /*(4)-3-1 w/h radius:50% border테두리주기 */
      .to_top {
        text-align: center;
        background: rgba(0,0,0,0.3);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid #a3a3a3;
      }
      
      /*(4)-3-2 겹치는 요소 삭제 and 추가요소 변경*/
      .to_top a {
        font-size: 14px;
        display: block;
        line-height: 45px;
        padding-top: 8px;
        color: #fff;
        border-left: 0px solid #a3a3a3;
        border-bottom: 0px solid #a3a3a3;
        position: relative;
      }
      
      
      .to_top a:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 8px solid #fff;
        /*▲(top) ▼(bottom) ◀(left) ▶(right)   */
        border-top:none;
        border-left-color: transparent ;
        border-right-color: transparent ;
        position: absolute; 
        /* top:-5px; 높이조절가능 */
        left: 50% ;
        margin-left: -8px; 
        /*크기만큼 margin값줌*/
      }
}

@media screen and (max-width:799px) {
    
    #header {
        background: rgba(0,0,0,0.5);
        color: #fff;
        position: absolute;
        height: 90px;
        width: 100%;
        top:0;
        left: 0;
        z-index: 9999;
      }

      /*(5)-1 햄버거클릭 시, 헤더박스 변경내용 */
      #header.on {
        background:#31353d;
        height: auto;
      }
      
      #header h1 {
        float: none;
        padding:28px 0;
        text-align: center;
      }
      /*(1) float:none 으로 풀고 패딩줄암*/

      #header h1 a {
        background: url(../img/logo.png) no-repeat;
        display: inline-block;
        width: 180px;
        height: 23px;
        background-size: contain; 
        /*(2) w/h값 줄인 후, 로고이미지가 박스보다 클 경우, w/h값 조정시에는 contain으로 비율유지 */
        text-indent: -9999px;
        overflow: hidden;
        /*(3) 줄어든 헤더박스에 logo 가운데 정렬하기
        a { display: block; margin:0 auto }
        a { display: inline-block} -> 상위태그 { text-align: center } */
      }

      /*(4) 모바일gnb 햄버거 만들기 시작*/
      .openMOgnb {
        display: block;
        position: absolute;
        top:35px; left: 15px;
        width: 25px;
        height: 16px;
      }

      .openMOgnb span {
          display: block;
          width: 25px;
          height: 3px;
          background: #fff;
          margin-bottom: 4px;
          border-radius: 10px;
      }

      .openMOgnb span:nth-of-type(2) {
          width: 17px;
      }

      .openMOgnb span:last-child {
          margin-bottom: 0;
      }

      /*(8)-1 헤더온일 때, X버튼 생김*/
      #header.on .closeMOgnb {
        display: block;
        position: absolute;
        top: 40px; right: 15px;
        width: 25px;
        height: 17px;
      }

      /*(8)-2 모든내용에 링크잡히게 */
      .closeMOgnb a {
        display: block;
      }

      /*(8)-3-1 span 값잡기*/
      .closeMOgnb span {
        display: block;
        width: 25px;
        height: 3px;
        background: #fff;
        border-radius: 10px;
        transform: rotate(45deg);
        /*(8)-3-2 2개를 같은 위치선상에 놓기위해서 absolute*/
        position: absolute;
        top:0; left: 0;
      }

      /*(8)-4 2번째 span은 rotate -45도 */
      .closeMOgnb span:nth-child(2) {
        transform: rotate(-45deg);
      }

      /*(5)-2-2 헤더콘트자체 none이지만 설정값정해줌*/
      #header .header_cont {
        display: none;
        float: left;
        width: 100%;
        padding-right: 0;
        background: #31353d;
      }

      /*(5)-2-1 헤더온일 경우 보이게 :block*/
      #header.on .header_cont {
        display: block;
      }
     
     /*(5)-3 유틸박스 왼쪽정렬 */
      .util {
        text-align: left;
        margin-top: 20px;
      }
      
      /*(6) 유틸 아래 padding 20px 추가*/
      .util >li{
        display: inline-block;
        font-size: 14px;
        color: #eee;
        padding: 10px 0px 20px 20px
      }
      
      /* .util >li:after {
        content: "|";
        display: inline-block;
        font-size: 10px;
        color: #eee;
        position: relative;
        top: -2px; left:10px
      }
      
      .util >li:last-child::after {
        display: none;
      } */

      /* (5)-4 왼정렬, 보더탑 추가 */
      .depth1 {
        text-align: left;
        border-top: 1px solid #83868b;
      }
      
      /*(5)-6-1 block, float, width:50%, padding:0, border 추가*/
      .depth1 >li {
        display: block; 
        float: left;
        width: 50%;
        font-size: 18px;
        color:#fff;
        padding: 0;
        border-left: 1px solid #83868b;
        border-bottom: 1px solid #83868b;
      }

      /*(5)-6-2 홀수만 padding-left:none*/
      .depth1 >li:nth-child(odd) {
        border-left: none;
      }

      /*(5)-6-3 padding은 a에서 줘야 Box전체가 클릭대상
      (7)-1 bg 기본값 설정*/
      .depth1 >li >a {
        display: block;
        padding:20px 0px 20px 60px;
        background-size: 49px 56px;
        background-repeat: no-repeat;
      }

      /*(7)-2 각각 bg-image 설정 */
      .depth1 >li:nth-child(1) >a {
        background-image: url(../img/ico_gnb01.png);
      }

      .depth1 >li:nth-child(2) >a {
        background-image: url(../img/ico_gnb02.png);
      }

      .depth1 >li:nth-child(3) >a {
        background-image: url(../img/ico_gnb03.png);
      }

      .depth1 >li:nth-child(4) >a {
        background-image: url(../img/ico_gnb04.png);
      }
      
      .depth1 >li:last-child {
        padding-right: 0;
      }
      
      /*(5)-5 호버 시, 서브메뉴 none으로 변경 하고 .depth2 관련은 다 지워도 상관X*/
      .depth1 >li:hover .dep2box {
        display: none;
      }

      /*(12) slide text p 크기 줄이기*/

      .slide .text p:nth-child(1) {
        font-size: 30px;
        letter-spacing: 3px;
        text-shadow: 2px 2px 5px #555;
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
      }
      
      .slide .text p:nth-child(2) {
        font-size: 16px;
        letter-spacing: 0px;
        margin-top: 20px;
      }

      /*(13) 다시 찾는 인기여행지 top3 수정*/

.about_area h2 {
  font-size: 20px;
  padding:55px 0 55px;
  text-align: center;
}

.place_list li {
  float: left;
  width: 96%;
  margin-left: 2%;
  margin-right:2%;
  position: relative;
  top:0px;
  text-align: center;
  margin-bottom:30px;
}

.place_list >li:first-child {
  margin-left: 2%
}
/*:nth-child(), :last-child는 :first-child에 비해 호환성이 낮음*/

.place_list li .imgbox {
  height:auto;
  overflow: hidden;
  position: relative;
}

.place_list li .imgbox img {
  width: 100%;
  transition: all 0.4s;
}

/*(14) 사회적 거리는 늘이고 font size 조절*/

.bgbox .txt p:first-child {
  font-size: 16px;
}

.bgbox .txt p:last-child {
  font-size: 20px;
  line-height: 1.2;
  margin-top: 10px;
}
    
      /*(10) top박스 위치 top:80%로 아래로 */
      .quick_area {
        position: fixed;
        top:80%; right: 20px;
        margin-top: 0px;
        width: 45px;
        z-index: 999999;
      }

      /*(11) display:none 하고 scroll하면 나타내기>script에서... */
      .to_top {
        display: none;
      }

      /*(9) 퀵리스트 fixd 하고 위치, w:100% 잡아주기*/
      .quick_list {
        display: block;
        position: fixed;
        bottom: 0; left: 0;
        width: 100%;
      }

      /*(9)-1 float w:33.33% 주고 html list에 cf주고오기*/
      .quick_list li {
        float: left;
        width: 33.33%;
        text-align: center;
        background: #282828;
        font-size: 15px;
      }
      
      /*(9)-3-1 border 스타일 주기, 마지막 li a 만 none*/
      .quick_list li a {
        display: block;
        padding: 30px 0;
        border-top: 1px solid #4d4d4d;
        border-right: 1px solid #4d4d4d;
      }

      .quick_list li:last-child a {
        border-right: none
      }
      
      /*(9)-3-2 padding-bottom: 0으로 위치선정*/
      .quick_list li a h3 {
        color: #ddd;
        font-size: inherit;
        padding-bottom: 0px;
        letter-spacing: -2px;
      }

      /*(9)-2 p태그 display:none*/
      .quick_list li a p {
        display: none;
        font-size:  13px;
        line-height: 1.3;
        color: #fff;
      }
      
      
}