@charset "utf-8";

@media screen and (max-width:1050px) {
    
    #header h1 {
        float: left;
        padding:45px 0 0 20px;
        /*+) 좌측에 20px 추가*/
     }
      #header .header_cont {
        float: right;
        width: 60%;
        padding-right: 20px;
        /*(1) W: 60%로 변경, 우측 여백 +20px*/
      }
      
      .depth1 {
        text-align: right;
        /*아래 left 정렬을 원하는 위치에 정렬*/
      }
      
      .depth1 >li {
        display: inline-block;
         /*inline-block사용하면 기본적으로 left정렬*/
        font-size: 18px;
        color:#fff;
        padding: 26px 20px 43px;
        /*(2) nav li 좌우여백 40px->20px로 줄임*/
      }
      
      .depth1 >li:last-child {
        padding-right: 0;
      }
      
      .dep2box {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background: rgba(250,100,0,0.85);
        z-index: 100;
        top:116px;
        text-align: left;
      }
      
      .depth1 >li:hover .dep2box {
        display: block;
      }
      
      .depth2 >li {
        display: inline-block;
        padding: 20px;
      }
      
      .depth1 >li:nth-child(1) .depth2,
      .depth1 >li:nth-child(2) .depth2,
      .depth1 >li:nth-child(3) .depth2,
      .depth1 >li:nth-child(4) .depth2 {
          padding-left: 53%;
      }
      /*(3) submenu는 모두 동일한 위치=> %값*/
      
      .depth1 >li:last-child .depth2>li {
        padding-right: 0;
      }
      
}

@media screen and (max-width:799px) {
    
    #header {
        background: rgba(0,0,0,0.5);
        color: #fff;
        position: absolute;
        height: 90px;
        width: 100%;
        top:0;
        left: 0;
        z-index: 9999;
      }
      
      #header h1 {
        float: none;
        padding:28px 0;
        text-align: center;
      }
      /*(1) float:none 으로 풀고 패딩줄암*/

      #header h1 a {
        background: url(../img/logo.png) no-repeat;
        display: inline-block;
        width: 180px;
        height: 23px;
        background-size: contain; 
        /*(2) w/h값 줄인 후, 로고이미지가 박스보다 클 경우, w/h값 조정시에는 contain으로 비율유지 */
        text-indent: -9999px;
        overflow: hidden;
        /*(3) 줄어든 헤더박스에 logo 가운데 정렬하기
        a { display: block; margin:0 auto }
        a { display: inline-block} -> 상위태그 { text-align: center } */
      }

      /*(4) 모바일gnb 햄버거 만들기 시작*/
      .openMOgnb {
        display: block;
        position: absolute;
        top:35px; left: 15px;
        width: 25px;
        height: 16px;
      }

      .openMOgnb span {
          display: block;
          width: 25px;
          height: 3px;
          background: #fff;
          margin-bottom: 4px;
          border-radius: 10px;
      }

      .openMOgnb span:nth-of-type(2) {
          width: 17px;
      }

      .openMOgnb span:last-child {
          margin-bottom: 0;
      }

      /*헤더 nav 수정 시작*/
      #header .header_cont {
        display: none;
      }
            
      .util {
        text-align: right;
      }
      
      .util >li{
        display: inline-block;
        font-size: 14px;
        color: #eee;
        padding: 10px 0px 0px 20px
      }
      
      .util >li:after {
        content: "|";
        display: inline-block;
        font-size: 10px;
        color: #eee;
        position: relative;
        top: -2px; left:10px
      }
      
      .util >li:last-child::after {
        display: none;
      }

      .depth1 {
        text-align: right;
        /*아래 left 정렬을 원하는 위치에 정렬*/
      }
      
      .depth1 >li {
        display: inline-block;
         /*inline-block사용하면 기본적으로 left정렬*/
        font-size: 18px;
        color:#fff;
        padding: 26px 20px 43px;
        /*(2) 좌우여백 40px->20px로 줄임*/
      }
      
      .depth1 >li:last-child {
        padding-right: 0;
      }
      
      .dep2box {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background: rgba(250,100,0,0.85);
        z-index: 100;
        top:116px;
        text-align: left;
      }
      
      .depth1 >li:hover .dep2box {
        display: block;
      }
      
      .depth2 >li {
        display: inline-block;
        padding: 20px;
      }
      
      .depth1 >li:nth-child(1) .depth2,
      .depth1 >li:nth-child(2) .depth2,
      .depth1 >li:nth-child(3) .depth2,
      .depth1 >li:nth-child(4) .depth2 {
          padding-left: 53%;
      }
      
      .depth1 >li:last-child .depth2>li {
        padding-right: 0;
      }
      
}